@font-face {
    font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F1F3F4;
}
header {
  background-color: #474E5A;
  height: 6em;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}

.navbar-header {
  float: left;
  position: inline;
}

header img {
  position: relative;
  padding-left: 3em;
  padding-top: 0.75em;
  float: left;
  width: 6.5em;
}

p.navbar-text {
  font-family: Roboto;
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  top: 1.5em;
  left: 10em;
}

select {
  float: right;
  font-family: Roboto;
  font-weight: 300;
  color: #FFFFFF;
  background: transparent;
  margin-right: 3em;
  margin-top: 2em;
  width: 9em;
  min-width: 8em;
  padding: .25em 1em .3em 1.8em;
  font-size: 14px;
  height: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1 {
  margin-top: 5em;
  margin-left: .7em;
  position: relative;
  font-family: Roboto;
  font-weight: 400;
  color: #8494AB;
  font-size: x-large;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.col-4 {
  margin-left: 1.4%;
  margin-right: 1.4%;
  max-width: 21%;
}

.col-4 img {
  width: 250px;
  position: inherit;
  box-sizing: border-box;
  margin-top: 1%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 1%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0px 0px 12px 5px #BCBBB8;
  box-shadow: 0px 0px 12px 5px #BCBBB8;
}

.col-4:hover .title {
  visibility: visible;
  opacity: 1;
}

span.title {
  opacity: 0;
  visibility: hidden;
  display: block;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 1px;
  transition: opacity 0.3s;
}

[class*='col-'] > p {
 text-align: center;
 color: #555555;
}

ul.pagination {
  display: inline-block;
  padding-top: 1em;
  margin-top: 2em;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 1px;
  color: #97A3BC;
  float: left;
  padding: .75em 1.2em;
  text-decoration: none;
  transition: background-color .2s;
  border: 1px solid #97A3BC;
}
.pagination li:first-child a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination li:last-child a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

ul.pagination li a.active {
  color: #3EB895;
  border-color: #3EB895;
}

ul.pagination li a:hover:not(.active) {
  color: #3EB895;
  border-color: #3EB895;
}



div.center {text-align: center;}

@media all and (max-width:800px){
  .col-4{
    width: 47.1%;
    min-height: none;
    }
}

@media all and (max-width:650px){
  .col-4{
    width: 92%;
    min-height: none;
    margin-left: 4.13%;
  }
  ul.pagination li a {
    font-family: Roboto;
    font-weight: 200;
    letter-spacing: 1px;
    color: #97A3BC;
    float: left;
    padding: .9em .7em;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #97A3BC;
  }
}
